<template name="afInput_timepicker">
<input type="text" value="{{this.value}}" {{atts}} data-time-format="H:i:s" class="form-control"/>
</template>


<template name="afInput_fileimage">
    <div id="fileinput">
        <div class="row">
            <div class="col-sm-3">
                <a class="btn btn-default btn-sm" id="pickfiles" href="#" >
                    <i class="icon-plus"></i>
                    <sapn>选择图片</sapn>
                </a>
                <div id="help" class="alert alert-info m-t-md alert-sm" style="display:none;"></div>
            </div>
            <div class="col-sm-8">
                <div id="preview">
                    <!-- {{#if image}} -->
                    <img src="{{image}}" />
                    <!-- {{/if}} -->
                    <div id="progress"  class="text-center" style="display:none;">
                        <span class="h2">0%</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <input id="input-hidden" type="hidden" value="{{this.value}}" {{atts}}/>

</template>


<template name="afInput_filemedia">

    <div id="fileinput">
        <div class="row">
            <div class="col-sm-3">
                <a class="btn btn-default btn-sm" id="pickfiles" href="#" >
                    <i class="icon-plus"></i>
                    <sapn>选择{{#if $eq atts.dataType "video"}}视频{{else}}音频{{/if}}</sapn>
                </a>

                <div class="btn-group" style="display:none;">
                    <a id="button-upload" class="btn btn-info btn-sm m-t-sm" href="#">
                        <i class="icon-upload"></i>
                        <sapn>上传</sapn>
                    </a>
                    <a id="button-cancel" class="btn btn-danger btn-sm m-t-sm" href="#" style="display:none;">
                        <i class="icon-cancel"></i>
                        <sapn>取消</sapn>
                    </a>
                </div>
                <div id="help" class="alert alert-info m-t-md alert-sm" style="display:none;"></div>
            </div>
            <div class="col-sm-8">
                <div id="preview">
                    <span>{{media.path}}</span>
                    {{#if media.persistentId}}
                    <a class="label label-info" target="_blank" href="http://api.qiniu.com/status/get/prefop?id={{media.persistentId}}">查看转码情况</a>
                    {{/if}}
                    <div class="progress m-t-sm" style="display:none;">
                        <div class="progress-bar progress-bar-info" id="progressbar" style="width: 0%">
                        0%
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <input id="input-hidden" type="hidden" value="{{this.value}}" {{atts}}/>

</template>
