<template name="lecture_audio">

    {{#if $eq audio.server "local"}}

    <audio id="audio"
          controls>
        <source src="{{audio.path}}.mp3" type="audio/mpeg">
        <source src="{{audio.path}}.wav" type="audio/wav">
        <source src="{{audio.path}}.ogg" type="audio/ogg">
        {{t9n "notSupport.audio"}}
    </audio>

    {{/if}}


    {{#if $eq audio.server "qiniu"}}

    <audio id="audio"
          controls >
        <source src="{{audio.path}}?p/1/avthumb/mp3" type="audio/mpeg">
        <source src="{{audio.path}}?p/1/avthumb/ogg" type="audio/ogg">
        <source src="{{audio.path}}?p/1/avthumb/wav" type="audio/wav">
        {{t9n "notSupport.audio"}}
    </audio>

    {{/if}}


</template>
