<template name="course_video">

    {{#if $eq course_video.server "local"}}

    <video id="course_video" class="video-js vjs-default-skin"
          controls preload="auto" width="100%" height="400px"
          poster="{{poster.path}}">
        <source src="{{course_video.path}}.ogg" type="video/ogg">
        <source src="{{course_video.path}}.webm" type="video/webm">
        <source src="{{course_video.path}}.mp4" type="video/mp4">
        {{t9n "notSupport.video"}}
    </video>

    {{/if}}


    {{#if $eq course_video.server "qiniu"}}

    <video id="course_video" class="video-js vjs-default-skin"
          controls preload="auto" width="100%" height="400px"
          poster="{{poster.path}}">
        <source src="{{course_video.path}}?p/1/avthumb/mp4" type="video/mp4">
        <source src="{{course_video.path}}?p/1/avthumb/ogg" type="video/ogg">
        <source src="{{course_video.path}}?p/1/avthumb/webm" type="video/webm">
        {{t9n "notSupport.video"}}
    </video>

    {{/if}}




</template>
