<template name="course_form">


    <section id="main_content">
        <div class="container">

            <div class="row">
                <div class="col-md-4">

                    {{#if isCreate}}

                    {{> profile_left_side user=currentUser}}

                    {{else}}


                    {{> course_tech_menu course=course}}

                    {{/if}}
                </div>
                <div class="col-md-8">
                    {{#autoForm doc=course collection="Courses" id="courseForm" type=method.type meteormethod=method.call class="form-horizontal"}}
                    <fieldset>
                        <legend>{{#if isCreate}}创建新课程{{else}}编辑课程:《{{course.name}}》{{/if}}</legend>
                        {{> afQuickField name='name' template="bootstrap3-horizontal" label-class="col-sm-2" input-col-class="col-sm-10"}}
                        {{> afQuickField name='index' template="bootstrap3-horizontal" label-class="col-sm-2" input-col-class="col-sm-10"}}
                        {{> afQuickField name='description' rows=6 template="bootstrap3-horizontal" label-class="col-sm-2" input-col-class="col-sm-10"}}

                        <div class="form-group">
                            {{> afFieldLabel name="status" class="col-sm-2"}}
                            <div class="col-sm-10">
                                {{> afFieldInput name="status" template="switch"}}

                            </div>

                        </div>




                        {{> afQuickField name='price' template="bootstrap3-horizontal" label-class="col-sm-2" input-col-class="col-sm-4" value="0"}}


                        <div class="form-group">
                            {{> afFieldLabel name="image" class="col-sm-2"}}
                            <div class="col-sm-10">
                                {{> afFieldInput name="image" template="fileimage"}}
                            </div>

                        </div>


                        <div class="form-group">
                            {{> afFieldLabel name="video" class="col-sm-2"}}
                            <div class="col-sm-10">
                                {{> afFieldInput name="video" template="filemedia" dataType="video"}}
                            </div>

                        </div>



                        <div class="form-group">
                            {{> afFieldLabel name="categories" class="col-sm-2"}}
                            <div class="col-sm-10">
                                {{#with course.categories}}
                                {{> afFieldInput name="categories" options=cateogriesOptions template="select2"}}
                                {{/with}}

                            </div>

                        </div>


                    </fieldset>
                    <div class="line line-dashed"></div>
                    <div class="form-group m-t-lg">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="button_medium btn-lg r-n">保存</button>
                            {{> back_button "取消"}}
                        </div>
                    </div>

                    {{/autoForm}}
                </div>
            </div>
        </div>
    </section>

</template>
