<template name="current_user_menu">
    {{#if $eq _id currentUser._id}}
        {{#unless isAdmin}}
        <div class="line line-dashed"></div>
        {{/unless}}


        <ul class="list_1">
            <li>
                <a href="{{pathFor 'profile'}}">主页</a>
            </li>
            <li>
                <a href="{{pathFor 'profile_setting'}}">设置</a>
            </li>

            <li>
                <a href="">修改密码</a>
            </li>


        </ul>


        {{#if isAdmin}}
        <a href='{{pathFor "course_create"}}' class="button_medium_outline btn-block">创建课程<i class="icon-plus pull-right"></i></a>
        {{else}}
        <a href='{{pathFor "course_create"}}' class="button_medium_outline">创建课程</a>
        {{/if}}

        {{#if isAdmin}}
        <div class="box_style_1">
            <h4>管理员菜单</h4>
            <ul class="list_1">
                <li>
                    <a href="{{pathFor 'categories_management'}}">课程类别管理</a>
                </li>
            </ul>
        </div>
        {{/if}}

    {{/if}}
</template>
