<template name="current_user_menu">
    {{#if $eq _id currentUser._id}}
        {{#unless isAdmin}}
        <div class="line line-dashed"></div>
        {{/unless}}


        <ul class="list_1">
            <li>
                <a href="{{pathFor 'profile'}}">{{t9n "dashboard"}}</a>
            </li>
            <li>
                <a href="{{pathFor 'profile_setting'}}">{{t9n "setting"}}</a>
            </li>

            <li>
                <a href="">{{t9n "profile.changePassword"}}</a>
            </li>


        </ul>


        {{#if isAdmin}}
        <a href='{{pathFor "course_create"}}' class="button_medium_outline btn-block">{{t9n "course.create"}}<i class="icon-plus pull-right"></i></a>
        {{else}}
        <a href='{{pathFor "course_create"}}' class="button_medium_outline">{{t9n "course.create"}}</a>
        {{/if}}

        {{#if isAdmin}}
        <div class="box_style_1">
            <h4>{{t9n "profile.adminMenu"}}</h4>
            <ul class="list_1">
                <li>
                    <a href="{{pathFor 'categories_management'}}">{{t9n "category.management"}}</a>
                </li>
            </ul>
        </div>
        {{/if}}

    {{/if}}
</template>
