<template name="category_form">


    {{#autoForm doc=category collection="Categories" id="categoryForm" type=method.type meteormethod=method.call }}

    <div class="modal fade in" id="category-form-modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">{{#if category.name}}{{t9n "category.edit"}}{{else}}{{t9n "category.create"}}{{/if}}</h4>
          </div>
          <div class="modal-body">
              {{> afQuickField name='name'}}
              {{> afQuickField name='index'}}

          </div>
          <div class="modal-footer">
            <button type="button" class="button_medium_outline" data-dismiss="modal">{{t9n "cancel"}}</button>
            <button type="submit" class="button_medium" ata-dismiss="modal">{{t9n "save"}}</button>
          </div>
        </div>
      </div>
    </div>

    {{/autoForm}}
</template>
