<template name="sub_header">

    <section id="sub-header">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 text-center">
                    <h1>Meteor Learn App</h1>
                    <p class="lead boxed ">由Meteor提炼而成</p>
                    <p class="lead">
                        如果你想学习《六脉神剑》《独孤九剑》《辟邪剑法》《追魂夺命剑》《达摩剑法》《韦陀伏魔剑》...
                    </p>
                </div>
            </div><!-- End row -->
        </div><!-- End container -->
        <div class="divider_top"></div>
    </section>
</template>
